*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;


}

.cabecalho{
    display: flex;
    gap: 500px;
    border-bottom: 2px solid red;
    padding-bottom: 18px;
}

.usuarios{
    margin-top: 45px;
    display: flex;
    gap: 470px;
    
}

.usuario{
   margin-top: 47px;
}

.custom-select{
    margin-top: 10px;
    background: rgb(206, 206, 206);
    height: 28px;
    width: 250px;
}

.botoes{
    display: flex;
    justify-content: center;
    margin-top: 130px;
    gap: 400px;
}