<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmes</title>
    <link rel="stylesheet" href="../public/stylesheets/Filmes.css">
</head>
<body>
    <header class="cabecalho">
        <img src="../public/images/netflixlogo.png" alt="" width="110">
        <span>Sair</span>
    </header>
<body>
    
</body>
</html>

<main>
    <section class="imagens">
        <div>
        <img class="Anmais Fantásticos" src="public/img-filmes/Animais Fantásticos e Onde Habitam.jpg" alt="" width="280" height="300">
        <img class="Anmais Fantásticos" src="public/img-filmes/Animais Fantásticos e os Crimes de Grindelwald.jpg" alt="" width="280" height="300">
        <img class="Anmais Annabelle" src="public/img-filmes/Annabelle.jpg" alt="" width="280" height="300">
        <img class="As Branquelas" src="public/img-filmes/As Branquelas.jpg" alt="" width="280" height="300">
        <img class="Cinquneta Tons" src="public/img-filmes/Cinquenta Tons de Cinza.jpg" alt="" width="280" height="300">
        <img class="Cinquneta Tons" src="public/img-filmes/Cinquenta Tons Mais Escuros.jpg" alt="" width="280" height="300">    
        <img class="Cinquneta Tons" src="public/img-filmes/Cinquenta Tons de Liberdade.jpg" alt="" width="280" height="300">    
        <img class="Constantine" src="public/img-filmes/Constantine.jpg" alt="" width="280" height="300">    
        <img class="Divertida Mente" src="public/img-filmes/Divertida Mente.jpg" alt="" width="280" height="300">    
        <img class="Esposa de Mentirinha" src="public/img-filmes/Esposa de Mentirinha.jpg" alt="" width="280" height="300">
        <img class="Frozen" src="public/img-filmes/Frozen 2.jpg" alt="" width="280" height="300">
        <img class="Halloween" src="public/img-filmes/Halloween.jpg" alt="" width="280" height="300">    
        <img class="Happy Feet O Pinguim" src="public/img-filmes/Happy Feet O Pinguim.jpg" alt="" width="280" height="300">    
        <img class="harry potter e a câmera secreta" src="public/img-filmes/harry potter e a câmera secreta.jpg" alt="" width="280" height="300">
        <img class="harry potter e a pedra filosofal" src="public/img-filmes/harry potter e a pedra filosofal.jpg" alt="" width="280" height="300">    
        <img class="harry potter e as relíquias da morte Parte 1" src="public/img-filmes/harry potter e as relíquias da morte Parte 1.jpg" alt="" width="280" height="300">
        <img class="harry potter e as relíquias da morte Parte 2" src="public/img-filmes/harry potter e as relíquias da morte Parte 2.jpg" alt="" width="280" height="300">
        <img class="harry potter e o cálice de fogo" src="public/img-filmes/harry potter e o cálice de fogo.jpg" alt="" width="280" height="300">    
        <img class="harry potter e o enigma do príncipe" src="public/img-filmes/harry potter e o enigma do príncipe.jpg" alt="" width="280" height="300">    
        <img class="harry potter e o prisioneiro de askaban" src="public/img-filmes/harry potter e o prisioneiro de askaban.jpg" alt="" width="280" height="300">    
        <img class="Invocação do Mal 3" src="public/img-filmes/Invocação do Mal 3.jpg" alt="" width="280" height="300">
        <img class="Kung Fu Panda" src="public/img-filmes/Kung Fu Panda.jpg" alt="" width="280" height="300">
        <img class="O Exorcista" src="public/img-filmes/O Exorcista.jpg" alt="" width="280" height="300">    
        <img class="O Homem Torto" src="public/img-filmes/O Homem Torto.jpg" alt="" width="280" height="300">    
        <img class="O Nevoeiro" src="public/img-filmes/O Nevoeiro.jpg" alt="" width="280" height="300">
        <img class="Os Jetsons" src="public/img-filmes/Os Jetsons.jpg" alt="" width="280" height="300">
        <img class="Rei Leão" src="public/img-filmes/Rei Leão.jpg" alt="" width="280" height="300">
        <img class="Robin Hood" src="public/img-filmes/Robin Hood.jpg" alt="" width="280" height="300">
        <img class="Roubo Nas Alturas" src="public/img-filmes/Roubo Nas Alturas.jpg" alt="" width="280" height="300">     
        <img class="Sobrenatural A Última Chave" src="public/img-filmes/Sobrenatural A Última Chave.jpeg" alt="" width="280" height="300">    
        <img class="The Flintstones" src="public/img-filmes/The Flintstones.jpg" alt="" width="280" height="300">
        <img class="Toy Story 4" src="public/img-filmes/Toy Story 4.jpg" alt="" width="280" height="300">
        <img class="Up Altas Aventuras" src="public/img-filmes/Up Altas Aventuras.jpg" alt="" width="280" height="300">
        <img class="Vai Que Cola" src="public/img-filmes/Vai Que Cola.jpg" alt="" width="280" height="300">
        <img class="Valente" src="public/img-filmes/Valente.jpg" alt="" width="280" height="300">
        <img class="Voando para o Amor" src="public/img-filmes/Voando para o Amor.jpg" alt="" width="280" height="300">
    </div>
    </section>

    <section class="">
        
    </section>

    <section class="texto-final">
        <div class="final">
        <p><b>Use seu email e crie uma senha
             para assistir à Netflix em qualquer aparelho quando quiser.</b></p>
    </div>
    </section>

    <section class="BOTAO">
        <button><b>Assista</b></button>
    </section>

</main>