<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmes</title>
    <link rel="stylesheet" href="../public/stylesheets/Filmes.css">
</head>
<body>
    <header class="cabecalho">
        <img src="../public/public/images/netflixlogo.png" alt="" width="110">
        <span>Sair</span>
    </header>
<body>
    
</body>
</html>

<main>
    <section class="imagens">
        <div>
        <img class="img-01" src="../public/public/img-filmes/Animais Fantásticos e Onde Habitam.jpg Fantásticos e Onde Habitam.jpg" alt="" width="130" height="120">
        
    </div>
    </section>

    <section class="">
        
    </section>

    <section class="texto-final">
        <div class="final">
        <p><b>Use seu email e crie uma senha
             para assistir à Netflix em qualquer aparelho quando quiser.</b></p>
    </div>
    </section>

    <section class="BOTAO">
        <button><b>ENTRAR</b></button>
    </section>

</main>