* {
    margin: 0; padding: 0; box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #000000;
}

.top {
    display: flex;
    width: 100%;
    height: 600px;
    margin-bottom: 50px;


}

.menu {
    height: 100%;
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 25px;

}

.destaque {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    background-image: url(img/stranger\ things\ header.jpg);
    background-size: 1600px;
    background-position: right;
    color: white;
    flex-wrap: wrap;
}

.sinopse img {
    margin-bottom: 30px;
}
.sinopse {
    height: 100%;
    background-color: black;
    padding: 20px 20px 20px 20px;
    border-radius: 0px;
    box-sizing: border-box;
    border-bottom: 10px
}


.sinopse p {
    font-family: 'Work Sans';
    font-size: 15px;
    flex-direction: column;
    color: #131313;
    font-weight: 700;
    color: white;
}

.assistir {
    text-decoration: none;
    cursor: pointer;
    width: 90px;
    height: 40px;
    background-color: red;
    font-family: "work sans" solid 2px;
    color: white;
    margin: 0 auto;
    font-weight: 800;
    font-size: 18px;
    display: inline-block;

}

.favoritar {
    text-decoration: none;
    cursor: pointer;
    border-radius: 3px;
    width: 90px;
    height: 40px;
    background-color: black;
    font-family: "work sans" solid 2px;
    color: white;
    margin-top: 10px;
    font-weight: 600;
    font-size: 18px;
    border: 1px solid rgb(234, 234, 234);
    display: inline-block;
    margin-left: 20px;
}

.novidades p {
    font-family: "work sans";
    font-size: 30px;
    color: white;
}

.novidades {

    justify-content: space-between;
    margin: 0;
    padding: 10px 0 10px 0px;

}


.favoritos {
    justify-content: space-between;
    margin: auto;
    padding: 10px 0 10px 0px;
    margin-bottom: 10px;
  

}

.favoritos p {
    margin-left: 0px;
    font-family: "work sans";
    font-size: 30px;
    color: white;


}

.rodape {
    display: flex;
    width: 100%;
    height: 300px;
    color: white;
    background-color: #141414;
    justify-content: space-between;
    font-family: "work sans";
}

.info-rodape {
    margin-top: 30px;
    margin-left: 180px;
}

.info-rodape h1 {
    font-size: 40px;
    font-weight: bolder;
}

.input-rodape {
    margin-top: 50px;
}

.input-rodape input {
    background-color: transparent;
    border-width: 0 0 1px;
    border-color: white;
    width: 300px;
    padding: 5px;
    margin-right: 20px;

}

.input-rodape button {
    cursor: pointer;
    font-family: "work sans";
    font-size: 15px;
    width: 100px;
    padding: 10px 20px;
    background-color: transparent;
    border-radius: 14px;
    border: 1px solid white;
    color: white;
}


.carousel-control.right {

    width: 50px;
    height: 100px;
    top: 870px;
}

.carousel-control.left {
    
    width: 50px;
    height: 100px;
    top: 870px;
}